.onboarding-content {
  --background: #ffffff;
  text-align: center;
}

.onboarding-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 56px); // Subtract header height
  padding: 24px 16px;
  gap: 24px;
}

.onboarding-step {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.icon-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main-icon {
    color: #333333;
    margin: 0 auto;
    display: block;
  }
}

.content-section {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  text-align: left;
  padding-top: 24px;
  gap: 16px;

  .main-title {
    font-size: 28px;
    font-weight: 700;
    color: #333333;
    margin: 0;
    line-height: 1.2;
  }

  .subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin: 0;
    line-height: 1.4;
  }

  .review-description {
    text-align: center;
  }

  .description-text {
    text-align: left;
    margin: 0 auto;
    max-width: 100%;

    p {
      font-size: 16px;
      color: #666666;
      line-height: 1.5;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.avatar-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.star-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.privacy-policy {
  text-align: left;
  width: 100%;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  ion-button {
    font-size: 16px;
    margin: 0;
  }
  ion-button.secondary {
    --background: #ffffff;
    --color: #0085eb;
    --border-color: #0085eb;
    --border-width: 1px;
    --border-style: solid;
  }

  .later-button {
    text-decoration: underline;
    color: var(--ion-color-primary);
  }
}

.rounded-button {
  --border-radius: 12px;
  height: 56px;
  font-size: 18px;
  font-weight: 600;
}

.button-icon {
  padding-left: 5px;
}

.error-text {
  font-size: 12px;
  margin-top: 4px;
  padding-left: 16px;
}

.open-email-actions {
  gap: 24px;
}

.email-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  color: #888;
  text-align: center;
}
