<ion-content [fullscreen]="true">
  <div class="page-header-bg">
    <ion-row
      class="ion-align-items-center ion-no-padding ion-justify-content-between"
    >
      <ion-col class="ion-text-center">
        <h2 class="header-title">Self</h2>
      </ion-col>

      <ion-col size="auto" class="ion-text-end">
        <ion-avatar class="avatar-initial">
          <ion-label>T</ion-label>
        </ion-avatar>
      </ion-col>
    </ion-row>
    <app-score-progress-bar [score]="70"></app-score-progress-bar>
  </div>

  <div class="floating-main-content">
    <app-scan-card-grid [data]="data"></app-scan-card-grid>
  </div>
</ion-content>
