<ion-content [fullscreen]="true">
  <div class="page-header-bg">
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <ion-text color="light">
        <h2 class="ion-no-margin">Scan</h2>
      </ion-text>
      <ion-avatar>
        <ion-label class="avatar-initial">T</ion-label>
      </ion-avatar>
    </ion-row>
    <app-score-progress-bar [score]="70"></app-score-progress-bar>
  </div>

  <div class="floating-main-content">
    <app-line-chart></app-line-chart>

    <app-scan-card-grid [data]="data"></app-scan-card-grid>
  </div>
</ion-content>
