<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>self-scan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">self-scan</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<!-- <ion-content [fullscreen]="true">
  <div class="page-header-bg">
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-text color="light">
        <h2 class="ion-no-margin">Scan</h2>
      </ion-text>
      <ion-avatar>
        <ion-label class="avatar-initial">T</ion-label>
      </ion-avatar>
    </ion-row>
  </div>

  <div class="floating-main-content"></div>
</ion-content> -->

<ion-content [fullscreen]="true">
  <div class="page-header-bg">
    <ion-row class="ion-no-padding ion-justify-content-between">
      <ion-col size="auto" class="header-left">
        <hugeicons-icon
          [icon]="ArrowLeft02Icon"
          [size]="24"
          color="currentColor"
          [strokeWidth]="1.5"
        ></hugeicons-icon>
        <span>Scan</span>
      </ion-col>

      <ion-col class="ion-text-center">
        <h2 class="header-title">Self</h2>
      </ion-col>

      <ion-col size="auto" class="ion-text-end">
        <ion-avatar class="avatar-initial">
          <ion-label>T</ion-label>
        </ion-avatar>
      </ion-col>
    </ion-row>
    <app-score-progress-bar [score]="70"></app-score-progress-bar>
  </div>

  <div class="floating-main-content">
    <app-scan-accordion-list></app-scan-accordion-list>
    <app-scan-accordion-list></app-scan-accordion-list>
  </div>
</ion-content>
