<ion-header [translucent]="true" class="toolbar-light-bg">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>self-scan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-header-bg">
    <app-score-progress-bar [progress]="70"></app-score-progress-bar>
  </div>

  <div class="floating-main-content">
    <app-scan-accordion-list></app-scan-accordion-list>
    <app-scan-accordion-list></app-scan-accordion-list>
  </div>
</ion-content>
