<ion-grid>
  <ion-row>
    @for (card of data(); track card.label) {
    <ion-col size="6">
      <ion-card
        class="scan-card"
        [class.disabled]="card.disabled"
        (click)="onCardClick(card)"
      >
        <div class="ring-wrapper">
          <app-progress-ring
            [progress]="card.progress"
            [label]="card.iconLabel || card.progress.toString()"
            [disabled]="card.disabled"
          >
          </app-progress-ring>
        </div>

        <div class="card-bottom-row">
          <span class="card-label">{{ card.label }}</span>
          <ion-icon
            [name]="
              card.disabled ? 'lock-closed-outline' : 'chevron-forward-outline'
            "
            class="card-arrow"
          ></ion-icon>
        </div>
      </ion-card>
    </ion-col>
    }
  </ion-row>
</ion-grid>
