<div class="notification" [class.inline]="inline()" [class]="type()">
  <div class="notification-content">
    <div class="notification-icon-container">
      <ion-icon [name]="getIconName()" class="notification-icon"></ion-icon>
    </div>
    <div class="notification-content-text">
      <div class="notification-content-text-title">
        @if (!inline()) {
          <p class="heading">Heading</p>
        }
        <p class="subheading">One or two lines</p>
      </div>
      @if (showAction()) {
        <a class="link" href="#">Action</a>
      }
    </div>
  </div>
</div>
